html, body 
{
	display: 		flex;
	flex-direction: 	column;
	width: 			100%;
	margin: 		5px;
	padding: 		0px;
	overflow: 		hidden;
	font-family: 		'Century Gothic';
}

body 
{
	height: 		100%;
}

button 
{
	border: 		1px solid gray;
	border-radius: 		25px;
	background-color: 	#9ACD32;
	color: 			white;
}

#inputTable
{
	background-color: 	white;
	display: 		flex;
	flex-direction: 	row;
	align-items: 		center;
	border: 		1px solid gray;
	border-radius: 		25px;
	padding-left: 		10px;
	padding-right: 		10px;
}
.center 
{
	margin: 		auto;
	display: 		table;
}

#main
{
	width: 			200px;
  	padding: 		10px;
}

input 
{
    background-color: 		transparent;
    border: 			0px solid;
}

ul
{
	/* removes bullets from list */
	list-style-type: none;
}
